*__pycache__*
.vscode
.coverage
tilescache*
build*
*.egg-info
.pytest_cache
ignore*
.DS_store
.osm
.json
beamer.aux
beamer.log
beamer.nav
beamer.out
beamer.vrb
beamer.toc
beamer.snm
beamer.synctex.gz
